<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO" monitorInterval="1800">

	<properties>
		<!-- 设置日志的路径和文件名 -->
		<property name="LOG_HOME">${sys:app.home}/logs/</property>
		<property name="FILE_NAME">ksql-web</property>
	</properties>

	<appenders>

		<RollingFile name="RollingFile" fileName="${LOG_HOME}/${FILE_NAME}.log"
			filePattern="${LOG_HOME}/${FILE_NAME}-%d{yyyy-MM-dd}.log.gz">
			<PatternLayout
				pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true"
					interval="1" />
				<SizeBasedTriggeringPolicy size="500 MB" />
			</Policies>
			<DefaultRolloverStrategy max="30" />
		</RollingFile>

		<Console name="Console" target="SYSTEM_OUT" follow="true">
			<PatternLayout
				pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n" />
		</Console>

	</appenders>

	<loggers>
		<root level="INFO">
			<appender-ref ref="RollingFile" />
			<appender-ref ref="Console" />
		</root>
	</loggers>

</configuration>
