<#assign ctx=request.getContextPath()>
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Streamer流计算平台</title>
<link href="${ctx}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="${ctx}/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="${ctx}/css/sb-admin.css" rel="stylesheet" />
<link href="${ctx}/css/codemirror.css" rel="stylesheet" />
<link href="https://codemirror.net/theme/seti.css" rel="stylesheet" />
<script src="${ctx}/vendor/jquery/jquery.min.js"></script>
<script src="${ctx}/vendor/popper/popper.min.js"></script>
<script src="${ctx}/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="${ctx}/js/sb-admin.js" type="text/javascript"></script>
<script src="${ctx}/js/codemirror.js"></script>
<script src="${ctx}/js/sql.js"></script>
<style type="text/css">
        .CodeMirror {
            border: 1px solid #eee;
            height: auto;
        }
        .CodeMirror-scroll {
            height: auto;
            overflow-y: hidden;
            overflow-x: auto;
        }
</style>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
		id="mainNav">
		<a class="navbar-brand" href="${ctx}/web/index">Streamer流计算平台</a>
		<button class="navbar-toggler navbar-toggler-right" type="button"
			data-toggle="collapse" data-target="#navbarResponsive"
			aria-controls="navbarResponsive" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			
			<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
				<li class="nav-item" data-toggle="tooltip"
					data-placement="right" title="首页">
					<a class="nav-link" href="${ctx}/web/index">
					<i class="fa fa-fw fa-dashboard"></i>
						<span class="nav-link-text">首页</span>
					</a>
				</li>
				<li class="nav-item active" data-toggle="tooltip" data-placement="right"
					title="Tables">
					<a class="nav-link" href="${ctx}/job/index">
						<i class="fa fa-fw fa-comments"></i> <span class="nav-link-text">计算任务管理</span>
					</a>
				</li>
				<li class="nav-item" data-toggle="tooltip" data-placement="right"
					title="Tables">
					<a class="nav-link" href="${ctx}/node/index">
						<i class="fa fa-fw fa-wrench"></i> <span class="nav-link-text">计算节点管理</span>
					</a>
				</li>
			</ul>
			
			<ul class="navbar-nav sidenav-toggler">
				<li class="nav-item"><a class="nav-link text-center"
					id="sidenavToggler"> <i class="fa fa-fw fa-angle-left"></i>
				</a></li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link"
					href="${ctx}/web/password"> <i class="fa fa-fw fa-user-circle"></i>${Session['user']}
				</a></li>
				<li class="nav-item"><a class="nav-link"
					href="${ctx}/web/logout"> <i class="fa fa-fw fa-sign-out"></i>退出
				</a></li>
			</ul>
		</div>
	</nav>

	
	<div class="content-wrapper">
		<div class="container-fluid">
			<!-- Breadcrumbs -->
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="${ctx}/job/index">计算任务管理</a></li>
				<li class="breadcrumb-item active"><#if readonly ??>查看任务<#else>编辑任务</#if></li>
			</ol>

		<#if msg ?? >
		<div class="alert alert-${status?default('success')}">
			${msg}
		</div>
		</#if>

			<!-- DataTables Example -->
			<div class="card mb-3">
				<div class="card-header">
					<i class="fa fa-comments"></i><#if readonly ??>查看任务<#else>编辑任务</#if>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<form id="myform" class="form-horizontal" action="${ctx}/job/save" method="post">
						  <div class="form-group">
						    <label for="" class="col-sm-2 control-label">*任务名称</label>
						    <div class="col-sm-8">
						    	<#if job??>
							      <input type="text" name="name" class="form-control" id="" placeholder="请输入流计算任务名称，只能为数字和字母" readonly="readonly" value="${job.name}" />
							      <#else>
							      <input type="text" name="name" class="form-control" id="" placeholder="请输入流计算任务名称，只能为数字和字母" value="" />
						    	</#if>
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="" class="col-sm-2 control-label">*执行节点</label>
						    <div class="col-sm-8">
						    	<select class ="form-control" name ="node"  <#if readonly ??>disabled="disabled"</#if>>
								    <option value="" selected ="selected" >请选择执行节点</option>
						    		<#list nodes as node>
						    			<#if job ??>
						    				<#if job.node ??>
							    				<option value="${node.name}" <#if job.node = node.name> selected ="selected" </#if> >${node.name}</option>
						    				<#else>
							    				<option value="${node.name}">${node.name}</option>
						    				</#if>
						    			<#else>
						    				<option value="${node.name}">${node.name}</option>
						    			</#if>
						    		</#list>
						    	</select>
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="" class="col-sm-2 control-label">*流计算配置</label>
						    <div class="col-sm-8">
						    	<div class ="form-control">
						    		<textarea id="code" rows="20" name="sql" placeholder="请输入流计算配置" ><#if job??>${job.sql}<#else>--SQL</#if></textarea>
						    	</div>
						    </div>
						  </div>
						  <div class="form-group">
						    <div class="col-sm-offset-5 col-sm-10">
						    	<#if readonly ??>
							      <a href="${ctx}/job/index" class="btn btn-primary btn-lg">返回</a>
						    	<#else>
							      <button type="submit" class="btn btn-primary btn-lg">保存</button>
						    	</#if>
						    </div>
						  </div>
						</form>					
					</div>
				</div>
			</div>
		
		</div>
		
	</div>

	<footer class="sticky-footer">
		<div class="container">
			<div class="text-center">
				<small>Copyright &copy; ${.now?string("yyyy")} - 数据中心</small>
			</div>
		</div>
	</footer>

	<!-- Scroll to Top Button -->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fa fa-angle-up"></i>
	</a>

	<script>
    CodeMirror.commands.save = function(){ document.getElementById("myform").submit(); };
	var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
	    mode:'text/x-mariadb',
	    lineNumbers: true,
	    styleActiveLine: true,
	    matchBrackets: true,
        showCursorWhenSelecting: true,
        smartIndent: true,
        dragDrop: true,
        indentWithTabs: true,
        extraKeys: {"Ctrl-Space": "autocomplete"},
        autofocus: true,
        <#if readonly ??>
        readOnly: true,
        </#if>
        theme:'seti',
	  });
	</script>

</body>
</html>