<#assign ctx=request.getContextPath()/>
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Streamer流计算平台</title>
<link href="${ctx}/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<link href="${ctx}/vendor/font-awesome/css/font-awesome.min.css"
	rel="stylesheet">
<link href="${ctx}/css/sb-admin.css" rel="stylesheet" />
<script src="${ctx}/vendor/jquery/jquery.min.js"></script>
<script src="${ctx}/vendor/popper/popper.min.js"></script>
<script src="${ctx}/vendor/chart.js/Chart.min.js"></script>
<script src="${ctx}/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="${ctx}/js/sb-admin.js" type="text/javascript"></script>
<script src="${ctx}/vendor/jquery-easing/jquery.easing.min.js"></script>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
		id="mainNav">
		<a class="navbar-brand" href="${ctx}/web/index">Streamer流计算平台</a>
		<button class="navbar-toggler navbar-toggler-right" type="button"
			data-toggle="collapse" data-target="#navbarResponsive"
			aria-controls="navbarResponsive" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
				<li class="nav-item active" data-toggle="tooltip"
					data-placement="right" title="Dashboard"><a class="nav-link"
					href="${ctx}/web/index">
					<i class="fa fa-fw fa-dashboard"></i>
						<span class="nav-link-text">首页</span>
					</a>
				</li>
				<li class="nav-item" data-toggle="tooltip" data-placement="right"
					title="Tables">
					<a class="nav-link" href="${ctx}/job/index">
						<i class="fa fa-fw fa-comments"></i> <span class="nav-link-text">计算任务管理</span>
					</a>
				</li>
				<li class="nav-item" data-toggle="tooltip" data-placement="right"
					title="Tables">
					<a class="nav-link" href="${ctx}/node/index">
						<i class="fa fa-fw fa-wrench"></i> <span class="nav-link-text">计算节点管理</span>
					</a>
				</li>
			</ul>
			
			<ul class="navbar-nav sidenav-toggler">
				<li class="nav-item"><a class="nav-link text-center"
					id="sidenavToggler"> <i class="fa fa-fw fa-angle-left"></i>
				</a></li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link"
					href="${ctx}/web/password"> <i class="fa fa-fw fa-user-circle"></i>${Session['user']}
				</a></li>
				<li class="nav-item"><a class="nav-link"
					href="${ctx}/web/logout"> <i class="fa fa-fw fa-sign-out"></i>退出
				</a></li>
			</ul>
		</div>
	</nav>

	<div class="content-wrapper">
		<div class="container-fluid">
			<!-- Breadcrumbs -->
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">首页</a></li>
				<li class="breadcrumb-item active">总览</li>
			</ol>

			<!-- Icon Cards -->
			<div class="row">
				<div class="col-xl-3 col-sm-6 mb-3">
					<div class="card text-white bg-primary o-hidden h-100">
						<div class="card-body">
							<div class="card-body-icon">
								<i class="fa fa-fw fa-users"></i>
							</div>
							<div class="mr-5">${index.total} 个计算任务</div>
						</div>
						<a href="${ctx}/job/index" class="card-footer text-white clearfix small z-1">
							<span class="float-left">查看详细</span> <span class="float-right">
								<i class="fa fa-angle-right"></i>
						</span>
						</a>
					</div>
				</div>
				<div class="col-xl-3 col-sm-6 mb-3">
					<div class="card text-white bg-warning o-hidden h-100">
						<div class="card-body">
							<div class="card-body-icon">
								<i class="fa fa-fw fa-comments"></i>
							</div>
							<div class="mr-5">${index.stoped} 个暂停任务</div>
						</div>
						<a href="${ctx}/job/index" class="card-footer text-white clearfix small z-1">
							<span class="float-left">查看详细</span> <span class="float-right">
								<i class="fa fa-angle-right"></i>
						</span>
						</a>
					</div>
				</div>
				<div class="col-xl-3 col-sm-6 mb-3">
					<div class="card text-white bg-success o-hidden h-100">
						<div class="card-body">
							<div class="card-body-icon">
								<i class="fa fa-fw fa-calendar-check-o"></i>
							</div>
							<div class="mr-5">${index.running} 个正在运行</div>
						</div>
						<a href="${ctx}/job/index" class="card-footer text-white clearfix small z-1">
							<span class="float-left">查看详细</span> <span class="float-right">
								<i class="fa fa-angle-right"></i>
						</span>
						</a>
					</div>
				</div>
				<div class="col-xl-3 col-sm-6 mb-3">
					<div class="card text-white bg-danger o-hidden h-100">
						<div class="card-body">
							<div class="card-body-icon">
								<i class="fa fa-fw fa-cogs"></i>
							</div>
							<div class="mr-5">${index.nodes} 个运行节点</div>
						</div>
						<a href="${ctx}/node/index"
							class="card-footer text-white clearfix small z-1"> <span
							class="float-left">查看详细</span> <span class="float-right">
								<i class="fa fa-angle-right"></i>
						</span>
						</a>
					</div>
				</div>
			</div>

			<!-- Area Chart Example -->
			<div class="card mb-3">
				<div class="card-header">
					<i class="fa fa-area-chart"></i>消费趋势图
				</div>
				<div class="card-body">
					<canvas id="myCanvas" width="100%" height="32"></canvas>
				</div>
				<div class="card-footer small text-muted">最后更新时间  ${.now?string("yyyy-MM-dd HH:mm:ss")}</div>
			</div>

		</div>
	</div>

	<footer class="sticky-footer">
		<div class="container">
			<div class="text-center">
				<small>Copyright &copy; ${.now?string("yyyy")} - 数据中心</small>
			</div>
		</div>
	</footer>

	<!-- Scroll to Top Button -->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fa fa-angle-up"></i>
	</a>
	
	<script src="${ctx}/js/consumer.js"></script>
	
</body>
</html>